*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "open Sans", sans-serif;
    overflow: hidden;
}
nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;    
}
nav a{
    color: white;
    text-decoration: none;
}
header{
    background: rgb(68,71,163);
    background: -webkit-linear-gradient(to right, rgba 68,71,163,1, rgba 76,178,196,1);
    background: linear-gradient(to right, rgba(68,71,163,1) 35%, rgba(76,178,196,1) 100%);
    height: auto;
    padding: 48px;
    justify-content: space-around;
    width: 100%;
}
.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
}

img{
    display: flex;
    justify-content: end;
    height: 450px;
    object-fit: cover;
    width: auto;
    animation: moverIzquierda 1s ease-in;
}
.textos{
    width: 50%;
    color: white;
}
.textos h1{
    font-size: 73px;
    animation:  moverDerecha 1s ease-in;
}
.textos h2{
    font-size: 30px;
    animation:  moverIzquierda 1s ease-in;
}
.textos a{
    display: inline-block;
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-top: 25px;
    border: 1px solid white;
    width: 150px;
    border-radius: 5px ;
    text-align: center;
    padding: 10px 0;
    animation:  arriba 1s ease-in;
}

.wave{
    background: rgb(68,71,163);
    background: -webkit-linear-gradient(to right, rgba 68,71,163,1, rgba 76,178,196,1);
    background: linear-gradient(to right, #4447a3 35%, #4cb2c4 100%);
}
.icono{
    display: block;
    animation: moverIzquierda 1s ease-in;
    z-index: 10000000000;
}
.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background: black;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: rgb(76,178,196);
    background: linear-gradient(152deg, rgba(76,178,196,1) 35%, rgba(68,71,163,1) 100%);
}
.uno{
    clip-path: circle(0% at 0 2%);
}
.dos{
    clip-path: circle(150% at 0 2%);

}
@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}
@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}
@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}
/* Responsive */
@media screen and (max-width:1000px){
    img{
        height: 370px;
    }
}
@media screen and (max-width:800px){
    img{
        height: 400px;
    }
    .textos h1{
        font-size: 70px;
    }
    .textos h2{
        font-size: 25px;
    }
}
@media screen and (max-width:700px){
    img{
        height: 260px;
    }
    .textos h1{
        font-size: 40px;
    }
    .textos h2{
        font-size: 15px;
    }
}
@media screen and (max-width:450px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 60px;
    }
    .textos h2{
        font-size: 15px;
    }
}

@media screen and (max-width:340px){
 
    img{
        height: 160px;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 35px;
    }
    .textos h1{
        font-size: 15px;
    }
    .textos a{
        width: 120px;
        font-size: 15px;
    }
}